include LICENSE
include README.md
include AGENTS.md
include __init__.py
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include web *.js
recursive-include examples *.md *.json
